

body {
	width: auto !important; height: auto !important}

		    
.noUi-connect {
	background-color: #ffd73c !important;
	}


div.label {
    margin: 0px 0px !important;
    color: black !important;
    font-size: 12pt; }