<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="seed_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="seed" type="xint" value="1"/>
        <config key="training_iterations_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="training_iterations" type="xint" value="1"/>
        <config key="window_size_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="window_size" type="xint" value="5"/>
        <config key="elements_learning_algo_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="elements_learning_algo" type="xstring" value="CBOW"/>
        <config key="batch_size_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="batch_size" type="xint" value="10000"/>
        <config key="epochs_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="epochs" type="xint" value="5"/>
        <config key="use_hierarchical_softmax_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="use_hierarchical_softmax" type="xboolean" value="false"/>
        <config key="negative_sampling_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="negative_sampling" type="xdouble" value="5.0"/>
        <config key="sampling_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sampling" type="xdouble" value="0.001"/>
        <config key="skip_missing_cells_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="skip_missing_cells" type="xboolean" value="false"/>
        <config key="document_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="document_column" type="xstring" value="Tagged Document"/>
        <config key="learning_rate_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="learning_rate" type="xdouble" value="0.025"/>
        <config key="min_word_frequency_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="min_word_frequency" type="xint" value="5"/>
        <config key="layer_size_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="layer_size" type="xint" value="100"/>
        <config key="minimum_learning_rate_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="minimum_learning_rate" type="xdouble" value="1.0E-4"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.ext.textprocessing.dl4j.nodes.embeddings.learn.w2v.Word2VecLearnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Word2Vec Learner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Deeplearning4J Integration Textprocessing"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.textprocessing.dl4j"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.0.v202110151441"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Textprocessing - Deeplearning4J Integration (64bit only)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.textprocessing.dl4j.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.0.v202110151441"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Word2Vec Learner"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="true"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
