
.knime-title {
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
}


h2.main_title {
	color: black;
	font-size: 16pt;

}

h3.main_title {
	color: black;
	font-size: 14pt;

}

p.main_intro {
	color: black;
	font-size: 12pt;
}